<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>911380691461-ln9kjj6dtq7mh3qsp3n0vlai1234f5q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911380691461-ln9kjj6dtq7mh3qsp3n0vlai1234f5q8</string>
	<key>API_KEY</key>
	<string>AIzaSyAou4rn2YmF_YjhP06TD_Tqz6SBmkMtHv8</string>
	<key>GCM_SENDER_ID</key>
	<string>911380691461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MichaelHardin.Rack-Runner</string>
	<key>PROJECT_ID</key>
	<string>rack-runner-231ec</string>
	<key>STORAGE_BUCKET</key>
	<string>rack-runner-231ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:911380691461:ios:96d578d85f96bf86</string>
	<key>DATABASE_URL</key>
	<string>https://rack-runner-231ec.firebaseio.com</string>
</dict>
</plist>